<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<servlet>
<description/>
<display-name>ListeEtudiantsServlet</display-name>
<servlet-name>ListeEtudiantsServlet</servlet-name>
<servlet-class>com.ens.controller.ListeEtudiantsServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ListeEtudiantsServlet</servlet-name>
<url-pattern>/ListeEtudiantsServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>ListeDepartementsServlet</display-name>
<servlet-name>ListeDepartementsServlet</servlet-name>
<servlet-class>com.ens.controller.ListeDepartementsServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ListeDepartementsServlet</servlet-name>
<url-pattern>/ListeDepartementsServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>ListeFilieresServlet</display-name>
<servlet-name>ListeFilieresServlet</servlet-name>
<servlet-class>com.ens.controller.ListeFilieresServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ListeFilieresServlet</servlet-name>
<url-pattern>/ListeFilieresServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>InsertionEtudiantServlet</display-name>
<servlet-name>InsertionEtudiantServlet</servlet-name>
<servlet-class>com.ens.controller.InsertionEtudiantServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>InsertionEtudiantServlet</servlet-name>
<url-pattern>/InsertionEtudiantServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>SuppressionEtudiantServlet</display-name>
<servlet-name>SuppressionEtudiantServlet</servlet-name>
<servlet-class>com.ens.controller.SuppressionEtudiantServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SuppressionEtudiantServlet</servlet-name>
<url-pattern>/SuppressionEtudiantServlet</url-pattern>
</servlet-mapping>
</web-app>